<div class="p-2  d-flex flex-column">
    <%
    let blockType = "";
    if (locals.userText) {
        blockType = "userBlock";
        %><h5>Saved Text</h5><%
    } else {
        blockType = "exampleBlock";
        %><h5>Examples</h5><%
    }%>
    <%
    if(locals.textBlocks) {%>
        <%
        var k = 0;
        var htmlClass = "";
        var btnHtmlClass = "";
        for (var i = 0; i < textBlocks.length; i++) {
            if (k===0) {
                htmlClass = "bg-secondary text-light"
                btnHtmlClass = "btn-outline-light"
                k++;
            } else {
                htmlClass = "bg-light text-dark"
                btnHtmlClass = "btn-outline-dark"
                k--;
            }%>
            <div id="<%=blockType%>div<%=textBlocks[i].id%>" class="p-2 d-flex <%=htmlClass%>">
                <div class="flex-grow-1 my-auto text-truncate"><%= textBlocks[i].text%></div>
                <div class="p-2 my-auto">
                    <% if(locals.userText) {%>
                        <button class="mr-1 btn btn-sm <%=btnHtmlClass%>" type="button" onclick="deleteText(this.id, <%=textBlocks[i].id%>)">
                            Delete
                        </button>
                    <%}%>
                    <button class="btn btn-sm <%=btnHtmlClass%>" type="button" name="insertText"
                            onclick="insertTextToTextArea('<%=textBlocks[i].text%>')">
                        View/Edit
                    </button>
                </div>
            </div>
        <% }
    } %>
</div>
